<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="logPathAndFileName" source="logging.file.name" />
    <springProperty name="logArchive" source="logging.archive" />

    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPathAndFileName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logArchive}/jproxy.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!--     <pattern>%d{HH:mm:ss} %-5level %logger{36} : %msg%n</pattern> -->
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
        </encoder>
    </appender>

    <appender name="AsynchronousRollingFileAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000</queueSize>
        <!--  <discardingThreshold>0</discardingThreshold> : Do not discard -->
        <appender-ref ref="RollingFile-Appender"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="AsynchronousRollingFileAppender"/>
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
